<footer class="footer">
  <div class="footer-container">
    <span class="footer-title">Lulu</span>
    <div class="footer-separator">
      <span class="footer-separator-label">Atendimento ao cliente</span>
      <span class="footer-separator-link">Fale Conosco</span>
      <span class="footer-separator-link">FAQ</span>
    </div>
    <div class="footer-separator">
      <span class="footer-separator-label">Termos e condições legais</span>
      <span class="footer-separator-link">Política de privacidade</span>
      <span class="footer-separator-link">Política de cookies</span>
      <span class="footer-separator-link">Termos de venda</span>
    </div>
    <div class="footer-separator j-center">
      <img class="footer-separator-image" src="assets/example/instagram_icon.png">
    </div>
  </div>
  <div class="footer-ml-container">
    <span class="footer-ml-label">AVISO LEGAL</span>
    <span class="footer-ml-text">
    A Lulu deseja esclarecer que não detém qualquer propriedade sobre as imagens e textos apresentados em suas páginas. Todas as imagens e textos exibidos são estritamente fictícios e são utilizados apenas para fins ilustrativos e de entretenimento.
    <br>
    Nenhuma das imagens ou textos presentes neste site foi produzida ou criada pelos administradores ou proprietários da Lulu.   Todas as imagens utilizadas foram obtidas através de fontes públicas e disponíveis na internet, e os textos são meramente fictícios, não representando a opinião ou a realidade de qualquer entidade ou indivíduo.
    <br>
    A Lulu respeita integralmente os direitos autorais e propriedade intelectual de terceiros. Se você é o detentor dos direitos autorais de alguma imagem ou texto exibido neste site e deseja que ela seja removida, por favor, entre em contato conosco para que possamos tomar as medidas necessárias.
    <br>
    Este aviso legal tem como objetivo esclarecer nossa política em relação à propriedade de conteúdo e reforçar nosso compromisso com a ética e a legalidade na utilização de materiais na internet.
    <br><br>
    <b>Atenciosamente, Lulu.</b>
    <br>
    lulubbrasil@gmail.com
    </span>
    <span style="color: black;">=</span>
    <span style="color: black;">=</span>
  </div>
</footer>