<div class="main-invisi">
   <main class="main-flex">
      <div class="main-banner-container">
         <img class="main-banner-image" src="assets/example/teste2-min.png" lowsrc="assets/example/teste1.png">
         <div class="main-banner-text-container">
            <span class="main-banner-title">ALTA COSTURA</span> 
            <span class="main-banner-text">Coleção Black&White</span> 
            <div class="main-banner-button" onclick="window.location.href='/store'">Conheça</div>
         </div>
      </div>
      <div class="main-emphasis-container">
         <div class="main-emphasis-block">
            <img class="main-emphasis-image" src="assets/example/p1.png"> 
            <img class="main-emphasis-image" src="assets/example/p2.png">
            <img class="main-emphasis-image" src="assets/example/p3.png">
         </div>
         <div class="main-news-container">
            <span class="main-news-title">CONFIRA AS NOVIDADES</span>
            <span class="main-news-text">  
            Na busca incessante pela vanguarda e inovação, nosso mundo está em constante evolução. Cada dia traz consigo um vislumbre de algo novo, uma promessa de descobertas extraordinárias. No coração dessa dinâmica transformação, a Lulu emerge como o farol da sofisticação e estilo.
            <br/><br/>
            Nossos produtos são a personificação do requinte atemporal. São a promessa de que, mesmo quando a moda e as tendências mudam, a elegância nunca sai de moda. São uma revelação que nos convida a abraçar o novo com confiança e graciosidade.</span>
            <div class="main-news-button" onclick="window.location.href='/store'">Confira</div>
         </div>
      </div>
   </main>
</div>