<div class="main-invisi">
  <div class="main-video-container">
    <div class="main-collections-container" id="main-collections-container">
      <div class="main-collections-separator">
        <a class="main-collections-button">Moda</a> 
      </div>
      <div class="main-collections-separator">
        <a class="main-collections-button">Joalheria</a>
      </div>
      <div class="main-collections-separator">  
        <a class="main-collections-button">Perfumes</a>
      </div>
      <div class="main-collections-separator">
        <a class="main-collections-button">Cosméticos</a>
      </div>
    </div>
    <!--div class="main-video-label-container">
      <span class="main-video-label" style="font-style: italic">URBAN</span>
  </div-->
    <img src="assets/example/2107.jpg" class="main-video mv-rearrange">
  </div>
  <main class="main-flex main-flex-store" id="main-flex">
    <!--div class="main-coll-container"><div class="main-coll-button"><span class="main-coll-label">Coleção Black&White</span><img src="assets/plus.svg" class="main-coll-icon"></div><div class="main-coll-content"> eu amo te </div></div><div class="main-coll-container"><div class="main-coll-button"><span class="main-coll-label">Coleção Verão 2023</span><img src="assets/plus.svg" class="main-coll-icon"></div><div class="main-coll-content"> eu amo te </div></div-->
  </main>
</div>
<!--div class="footer-invisi"></div-->