<div class="main-invisi">
  <div class="main-video-container">
    <div class="main-collections-container" id="main-collections-container">
      <div class="main-collections-separator">
        <a class="main-collections-button">Moda</a> 
      </div>
      <div class="main-collections-separator">
        <a class="main-collections-button">Joalheria</a>
      </div>
      <div class="main-collections-separator">  
        <a class="main-collections-button">Perfumes</a>
      </div>
      <div class="main-collections-separator">
        <a class="main-collections-button">Cosméticos</a>
      </div>
    </div>
    <div class="main-video-label-container">
      <span class="main-video-label">WORK&</span>
      <span class="main-video-label" style="font-style: italic">URBAN</span>
    </div>
    <video class="main-video" autoplay loop muted>
      <source src="assets/example/loop.mp4" type="video/mp4" />
    </video>
  </div>
  <main class="main-flex main-flex-store">
    <span class="main-flex-label-title">A Coleção</span>
    <span class="main-flex-content">Nossa coleção é a personificação da elegância que transcende o efêmero das tendências. Cada peça é escolhida a dedo para representar a essência do requinte e da atemporalidade. Das roupas às joias, cada item é uma obra-prima por si só, destinado a realçar a beleza e a confiança de quem o veste.</span>
    <span class="main-flex-content">Acreditamos que a verdadeira beleza reside nos detalhes. Cada peça é cuidadosamente confeccionada, incorporando a mestria artesanal e os materiais mais requintados. Cada botão, costura e acabamento é a expressão da nossa busca incessante pela perfeição.</span>
    <div class="main-pic-row-container">
      <img class="main-pic-image" src="assets/example/nanakomatsu.png">
      <div class="main-pic-text-container">
        <span class="main-pic-text-cit">“Esta coleção é significativa, pois presta homenagem a artistas de vários gêneros, envolvendo interações respeitosas com a arte de cada um.”<br><br>- Nana Komatsu.</span>
      </div>
    </div>
    <span class="main-flex-label-title">Coleção Black&White </span>
    <div class="main-product-list-container">
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0001.png">
        <span class="main-product-brand">Saint Laurent</span>
        <span class="main-product-label">Vestido slim com gola V</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 17.430</span>
      </div>
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0002.png">
        <span class="main-product-brand">Ana Radu</span>
        <span class="main-product-label">Vestido longo ombro único</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 15.921</span>
      </div>
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0003.png">
        <span class="main-product-brand">Zimmerman</span>
        <span class="main-product-label">Vestido Luminosity Liftoff com aplicação floral</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 9.835</span>
      </div>
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0004.png">
        <span class="main-product-brand">Alexandre Vauthier</span>
        <span class="main-product-label">Vestido longo frente única</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 11.551</span>
      </div>
    </div>
    <div class="main-news-button rearrange">Veja mais</div>
    <div class="main-pic-row-container prc-rearrange">
      <img class="main-pic-image" src="assets/example/hiomiyazawa.png">
      <div class="main-pic-text-container">
        <span class="main-pic-text-cit">"A dedicação e o esforço dos artesãos para com cada criação me comoveram profundamente, considerando o tempo que investiram nesse processo.”<br><br>- Hio Miyazawa.</span>
      </div>
    </div>
    <span class="main-flex-label-title">Joalheria</span>
    <div class="main-product-list-container">
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0005.png">
        <span class="main-product-brand">Vivienne Westwood</span>
        <span class="main-product-label">Par de brincos com logo e aplicações de strass</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 1.415</span>
      </div>
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0006.png">
        <span class="main-product-brand">Philipp Plein</span>
        <span class="main-product-label">Par de brincos com aplicação de cristais</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 8.010</span>
      </div>
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0007.png">
        <span class="main-product-brand">Emanuele Bicocchi</span>
        <span class="main-product-label">Pulseira trançada</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 1.998</span>
      </div>
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0008.png">
        <span class="main-product-brand">Swarovski</span>
        <span class="main-product-label">Anel cocktail Constella</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 1.722</span>
      </div>
    </div>
    <div class="main-news-button rearrange">Veja mais</div>
    <div class="main-pic-row-container">
      <img class="main-pic-image" src="assets/example/nix.png">
      <div class="main-pic-text-container">
        <span class="main-pic-text-cit">“Todas as expressões artísticas estão interligadas, o que ressalta a importância da colaboração entre elas.”<br><br>- Nix.</span>
      </div>
    </div>
    <span class="main-flex-label-title">Perfumes</span>
    <div class="main-product-list-container">
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0009.png">
        <span class="main-product-brand">Tocca</span>
        <span class="main-product-label">Florence Eau De Parfum 100ml</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 904</span>
      </div>
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0010.png">
        <span class="main-product-brand">Versace</span>
        <span class="main-product-label">Bright Crystal Eau De Toilette 90ml</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 639</span>
      </div>
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0011.png">
        <span class="main-product-brand">Jo Malone London</span>
        <span class="main-product-label">Nashi Blossom Cologne 100ml</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 1.230</span>
      </div>
      <div class="main-product-container">
        <img class="main-product-image" src="assets/produtos/0012.png">
        <span class="main-product-brand">LANCÔME</span>
        <span class="main-product-label">Idole Now Eau De Parfum 100ml</span>
        <span style="color: white;"> = </span>
        <span class="main-product-value">R$ 819</span>  
      </div>
    </div>
    <div class="main-news-button rearrange">Veja mais</div>
  </main>
</div>